@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* #region tags */
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* #endregion */
/* #region common */
.one {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 70%;
  max-width: 1920px;
  margin: 0 auto;
}

.button {
  display: block;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1rem 2rem;
  transition: all 0.2s linear;
  cursor: pointer;
}

.button:active {
  transform: translateY(3px);
}

.btn_txt {
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.hover_rd {
  transition: all 0.1s linear;
}
.hover_rd:hover {
  color: #fc477e;
}

.hover_ylw {
  transition: all 0.1s linear;
}
.hover_ylw:hover {
  color: #fbcf48;
  border-color: #fbcf48;
}

.pd_top {
  padding-top: 0 !important;
}

.mg_top {
  margin-top: 4rem;
}

/* #endregion */
/* #region fonts */
.text-center {
  text-align: center;
}

.text_md {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1px;
  color: #c4dae7;
  cursor: pointer;
}

.text_sm {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1;
  color: #c4dae7;
}

.text_500 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  color: #c4dae7;
  text-transform: uppercase;
}

/* #endregion */
/* #region header */
.header {
  position: relative;
  background-color: #303a49;
  box-shadow: 0 1px 12px 0px rgb(0, 0, 0);
}
.header_box {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 38px;
  z-index: 15;
}
.header_nav {
  display: flex;
  align-items: center;
  z-index: 15;
}
.header__link {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c4dae7;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  padding: 16px 20px;
}

.burger {
  display: none;
}

.active {
  color: #fbcf48;
  cursor: default;
}

/* #endregion */
/* #region box */
.box {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #354051;
}
.box__index {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box__index p {
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #c4dae7;
  margin-top: 5rem;
}
.box__index a {
  color: #fbcf48;
}
.box__img {
  display: block;
  width: 20%;
  margin: 3% auto 0;
}
.box__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.box__btn_wrap {
  width: 300px;
  display: flex;
  column-gap: 1rem;
  margin: 0 auto 46px;
}
.box__btn {
  letter-spacing: 1px;
  margin: 2rem auto;
  background-color: #d82665;
  color: #fbcf48;
}
.box__btn:hover {
  background-color: #fc477e;
}

/* #endregion */
/* #region form */
.form {
  margin: 1px auto;
}
.form__search {
  display: flex;
}
.form__input {
  width: 100%;
  font-size: 18px;
  outline: none;
  border-radius: 8px 0 0 8px;
  border: 1px solid #c4dae7;
  border-right: none;
  color: #c4dae7;
  background: transparent;
  padding-left: 20px;
}
.form__button {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0 8px 8px 0;
  border: 1px solid #d82665;
  background-color: #d82665;
  color: #fbcf48;
}
.form__button:hover {
  border: 1px solid #fc477e;
  background-color: #fc477e;
}
.form__select:active, .form__button:active {
  transform: none;
}
.form__reset {
  width: 100px;
  margin-top: 1.5rem;
}

/* #endregion */
/* #region select */
.select {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  appearance: none;
  padding: 0 1rem;
  cursor: pointer;
}
.select__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  margin: 1.5rem auto 0;
  background-color: #354051;
}
.select__layout {
  width: 208px;
  position: relative;
  cursor: pointer;
}
.select__box {
  display: flex;
  align-items: center;
}
.select__option {
  color: #354051;
}

.option {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 50px;
  left: -2.5rem;
  width: 10rem;
  color: #c4dae7;
  border-radius: 8px;
  border: 2px solid #c4dae7;
  background-color: #354051;
  padding: 10px;
  opacity: 0;
  transition: all 0.3s linear;
}
.option div {
  width: 100%;
  text-align: center;
}
.option div:hover {
  color: #303a49;
  border-radius: 12px;
  background-color: #fbcf48;
}

.option.option_open {
  opacity: 1;
}

.cross {
  line-height: 0;
  color: #d82665;
}

/* #endregion */
/* #region card */
.card {
  display: grid;
  font-size: 1rem;
  border-radius: 8px;
  background-color: #fbcf48;
}
.card__image {
  border-radius: 8px 8px 0 0;
}
.card__name {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #354051;
  box-sizing: border-box;
  padding: 12px;
  margin: 0;
}
.card__text {
  font-weight: bold;
  font-size: 16px;
  color: #354051;
  padding: 0 0 12px 12px;
}

/* #endregion */
/* #region page-two */
.two {
  flex: 1 1 auto;
  display: flex;
  box-sizing: border-box;
  padding: 4rem 0;
}
.two__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 30px;
}
.two__back {
  background-color: #303a49;
  color: #fbcf48;
}
.two__back:hover {
  background-color: #fbcf48;
  color: #354051;
}
.two__card {
  grid-auto-rows: auto;
  width: 100%;
  max-width: 300px;
  height: fit-content;
  background-color: #354051;
}
.two__descript {
  display: grid;
  row-gap: 6px;
  box-sizing: border-box;
  padding: 1rem 12px;
}
.two__name {
  font-size: clamp(18px, 2cqi, 26px);
  letter-spacing: 1px;
  color: #fbcf48;
  padding: 0;
}
.two__status_wrap {
  display: flex;
  align-items: center;
}
.two__status {
  padding: 0;
}
.two__link_wrap {
  display: grid;
  margin-top: 1rem;
}
.two__link {
  grid-row: 1;
  width: min-content;
  line-height: 120%;
}

/* #endregion */
/* #region footer */
.footer {
  height: 60px;
  background-color: #303a49;
}
.footer__border {
  height: 50%;
  border-radius: 16px;
  border-top: 3px solid #fbcf48;
}

/* #endregion */
/* #region up button */
.up {
  position: fixed;
  right: 10vw;
  bottom: 84px;
  z-index: 3;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  background: url("../src/img/hand-up-halloween.png") 0 0/100% no-repeat;
  cursor: pointer;
  transition: all 0.3s linear;
}
.up:hover {
  opacity: 1;
}

/* #endregion */
/* #region error-page */
.error-page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: #354051;
}
.error-page__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fbcf48;
}
.error-page__subtitle {
  color: #c4dae7;
}
.error-page__errror {
  color: #03b881;
}

/* #endregion */
/* #region media 992px */
@media (max-width: 992px) {
  body.open {
    overflow: hidden;
  }
  .open .header_nav {
    transform: translateY(0);
  }
  .open .burger__line_one,
  .open .burger__line_four {
    opacity: 0;
  }
  .open .burger__line_two {
    transform: rotate(45deg);
  }
  .open .burger__line_three {
    transform: rotate(-45deg);
  }
  .header {
    position: fixed;
    width: 100%;
    z-index: 30;
    box-shadow: none;
  }
  .header::before {
    content: "";
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #303a49;
    box-shadow: 0 1px 12px 0px rgb(0, 0, 0);
  }
  .header_nav {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 0 0 0;
    color: #fbcf48;
    background-color: #303a49;
    transform: translateY(-105%);
    transition: all 0.3s linear;
  }
  .header__link {
    width: 30%;
    padding: 16px 0;
  }
  .burger {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 16px;
    cursor: pointer;
  }
  .burger__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    transition: all 0.1s linear;
  }
  .burger__line_one {
    top: 0;
  }
  .burger__line_two {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger__line_three {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger__line_four {
    bottom: 0;
  }
  .container {
    width: 100%;
    box-sizing: border-box;
    padding-right: 24px;
    padding-left: 24px;
  }
  .form {
    max-width: 600px;
  }
  .form__reset {
    display: flex;
  }
  .box__img {
    width: 60%;
    max-width: 300px;
    margin: 4rem auto 0;
  }
  .select__wrap {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 60px;
    box-sizing: border-box;
    padding: 0 18px;
    margin-top: 4.5rem;
  }
  .option {
    top: 0px;
    left: 17.5rem;
  }
  .box {
    padding-top: 60px;
  }
  .box__content {
    grid-template-columns: repeat(auto-fill, minmax(146px, 1fr));
  }
  .card__name {
    font-size: 14px;
  }
  .card__text {
    font-size: 12px;
  }
  .two {
    width: 100%;
    flex-direction: column;
  }
}
/* #endregion */
/* #region media 548 */
@media (max-width: 548px) {
  .select__layout {
    width: 100%;
    flex-direction: column;
  }
  .select__box {
    display: flex;
    align-items: center;
  }
  .option {
    position: static;
    height: 0;
    overflow: auto;
  }
  .option.option_open {
    height: 15rem;
    justify-content: space-around;
    margin-top: 2rem;
  }
}
/* #endregion */